@font-face {
    font-family: 'OpenSans';
    src: url("../font/OpenSans.ttf");
}

body {
    font-family: 'OpenSans', sans-serif;
    background-color: #67a3e7;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    background-color: #ffffff1a;
    padding: 20px;
    border-radius: 10px;
}

.input {
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

#btn-enviar {
    background-color: #b903b9;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

#btn-enviar:hover {
    background-color: #960096;
}

#resultado {
    text-align: center;
    margin-top: 40px;
    font-size: 45px;
    text-transform: uppercase;
}
